.navBar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
.brand{
    margin-top: -10px;
}
.brand span{
    color: aqua;
}



.navigation{
    display: flex;
    width: 50%;
    justify-content: space-around;
}



.route{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.route:hover{
    background-color: aqua;
    color: #191c32;
    transition: ease-in 0.4s;
}

.routeActive{
    color: aqua;
}